<div class="row">
	<div class="span12">
		<div class="copywrite" style ="height:200px; padding-top:20px;">
			
			<div class="main-sell" style="text-align:center">
				<p><h1>Quick & quality self-recruitment solutions.</h1></p>
				<p><h2>Spend less time managing forms and more time picking the right people</h2></p>
			</div>
		</div>
	</div>
</div>