<h3> Thanks for your app! We'll be sending you an email just to double-confirm with you!</h3>

<p> Detail detail detail, eg, if you don't get this email please contact us to ensure! Many thanks for your time! </p> 