

<div class="row-fluid">
	
	<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
	<div class="span2">
				<%= link_to image_tag("jobpages.png"), root_path, :class => "brand", :style=>"margin-left:0px;" %>
	</div>
	<div class="span10">
		
	<ul class="nav nav-pills">

		
		
		
	</ul>
	
	<ul class="nav nav-pills" style="float:right">
		<li> <%= link_to('Help') %> </li> 
		<li> <%= link_to('Account Settings', edit_user_registration_path) %> </li> 
		<li> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </li>     		
	</ul>
	
		</div>
	</div>
	</div>
</div>
<div style="padding-top:40px;">
</div>
